.display-1 {
    padding-bottom: 2vh;
    margin-top: -4vh;
    font-family: lato, sans-serif;
    color: #4a4a4a;
    margin-left: -4pt;
}

.display-4 {
    font-family: lato, sans-serif;
    color: #4a4a4a;
}

.jumbotron {
    background-color: #ffffff;
    color: #4a4a4a;
}

.test {
    padding-left: 2vw;
    padding-right: 2vw;
}

.lead {
    font-size: 2vh;
    padding-right: 50vw;
}

.btn btn-primary btn-lg {
    border-style: solid;
    border-color: #8b8b8b;
    background-color: transparent;
    color: #8b8b8b;
    border-radius: 4px;
    
}


.footer {
    padding-right: 2vw;
    padding-bottom: 4vh;
    align-self: flex-end;
}

.navbar-nav {
    align-items: flex-end;
}

.col {
    margin-left: 8vh;
    margin-right: 8vh;
}

.shadow-drop-center {
	-webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.social_box {
    
    padding-right: 10pt;
    padding-bottom: 10pt;
    
}

@media (max-width: 800px) {
    .display-1 {
        font-size: 8vh;
        margin-left: auto;
    }
}

 @-webkit-keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  